	<%= render "partials/nav" %>

	<div id="search-container">
		<div id="results-container">
			<h1>My Friends</h1>
			<% @friends.each do |user|  %>
			<%= render user unless user == current_user%>
			<% end %>
		</div>
	</div>
