<div class="user-container">
	<div id="cover-photo" style="background-image: url(<%= @user.cover_photo.url(:large) %>)">

		<div class="name-container shadow">
			<div class="profile-photo-lg" style="background-image: url(<%= @user.profile_photo.url(:medium) %>)">
			</div>
			<div class="profile-photo-name">
				<h1><%= @user.fullname %></h1>
				<% if current_user != @user %>
				<div class="clear-info">
					<i class="fas fa-check"></i>&nbsp;&nbsp;Friends
				</div>
				<% else %>
				<%= link_to edit_user_registration_path do %>
				<div class="clear-info">
					<i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Edit Settings
				</div>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>