<div class="meta">
	<div class="box-container">
		<div class="header">
			Recent Activity
		</div>
		<div class="box activity">
			You have <strong><%= current_user.friend_requests.count %></strong> friend request<%= current_user.friend_requests.count > 1 || current_user.friend_requests.count == 0 ? "s" : "" %>.
		</div>

		<% if current_user.friend_requests.count > 0 %>
		<div class="header">
			Friend Requests
		</div>
		<div class="box friend-requests-list">
			<%= render current_user.friend_requests %>
		</div>
		<% end %>

		<div class="header">
			My Groups
		</div>
		<div class="box groups">
			You aren't part of any groups yet.
		</div>

		<div class="smallprint">
			&copy; 2018 Lukas Romsicki &amp; <a href="#">contributors.</a>
		</div>
	</div>
</div>
