<div class="meta">
	<div class="box-container">
		<div class="header">
			Recent Activity
		</div>
		<div class="box" id="activity">
			<%= render "partials/recent_activity" %>
		</div>

		<% if current_user.friend_requests.count > 0 %>
		<div id="friend-request-container">
			<div class="header">
				Friend Requests
			</div>
			<div class="box" id="friend-requests-list">
				<%= render current_user.friend_requests %>
			</div>
		</div>
		<% end %>

		<div class="header">
			My Groups
		</div>
		<div class="box groups">
			You aren't part of any groups yet.
		</div>

		<div class="smallprint">
			&copy; 2018 Lukas Romsicki &amp; <a href="#">contributors.</a>
		</div>
	</div>
</div>
