<div class="friend-request" id="friend-request-<%= friend_request.id %>">
	<div id="name">
		<%= friend_request.user.fullname %>
	</div>
	<div id="action">
		<%= button_to friend_request, method: :delete, remote: true, class: "fab red" do %>
		<i class="fa fa-times"></i>
		<% end %>

		<%= button_to friend_request, method: :put, remote: true, class: "fab green" do %>
		<i class="fa fa-check"></i>
		<% end %>
	</div>
</div>
