<div class="friend-request">
	<div id="name">
		<%= friend_request.user.fullname %>
	</div>
	<div id="action">
		<%= link_to raw("<i class=\"fa fa-times\"></i>"), friend_request, method: :delete, remote: true, class: "fab red" %>
		<%= link_to raw("<i class=\"fa fa-check\"></i>"), friend_request, method: :put, remote: true, class: "fab green" %>
	</div>
</div>
