<%= render "partials/nav" %>

<div class="container-fluid">
	<div class="row center-xs">
		<div class="col-lg-6">
			<%= render "partials/writepost" %>
			<div id="post_feed">
				<%= render "partials/feed" %>
			</div>
		</div>
		<div class="col-lg-3 space-left">
			<%= render "partials/meta" %>
		</div>
	</div>
</div>