	<%= render "partials/menusystem" %>

	<div class="feed-container">
		<div id="feed">
			<%= render "partials/writepost" %>
			<%= render "partials/feed" %>
		</div>
		<%= render "partials/meta" %>
	</div>
