@media screen and (max-width: 40em) {
	.side-nav {
		margin-left: -92px;
	}

	.logo-container {
		display: none;
	}

	.hamburger-container {
		display: block !important;
	}

	.container-fluid {
		padding-left: 25px !important;

		.col-lg-3.space-left {
			margin-left: 0;
		}
	}

	.user-container {
		padding-left: 0 !important;
	}

	.container-fluid-user {
		.col-lg-3.space-left {
			margin-left: 30px;
		}
	}

	#name-container {
		left: 40px !important;
	}
}