@media screen and (max-width: 40em) {
	.side-nav {
		margin-left: -92px;
	}

	.container-fluid {
		padding-left: 25px !important;
	}

	.top-nav {
		padding-left: 20px !important;
	}

	.current-user {
		display: none !important;
	}
}