html, body {
	font-family: "Lato";

	margin: 0 !important;
	padding: 0;
}

.turbolinks-progress-bar {
  z-index: 999999;
}

.feed-container {
	display: flex;
	justify-content: center;

	padding-top: 120px;
	padding-left: 92px;
}

.profile-image {
	height: 92px;
	width: 92px;
	background: #D8D8D8;
	display: inline-block;
	margin-bottom: 25px;
}

.top-nav {
	height: 58px;
	width: 100%;
	background: #1E263B;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.32);
	position: fixed;

	margin-left: 92px;

	padding-left: 20px;

	display: flex;
	align-items: center;
	z-index: 100;
}

.globalsearch {
	background: #364466;
	border: none;
	border-radius: 7px;

	width: 450px;
	box-shadow: 0px 2px 6px -2px rgba(0,0,0,1);
	outline: none;

	padding: 10px 10px 10px 14px;
	font-size: 14px;
	color: white;
	transition: all 0.2s ease;
}

.search-icon {
	color: #8E8E93;
	margin-right: 18px;
	font-size: 22px !important;
}

.globalsearch:focus {
	box-shadow: 0px 2px 13px 0px rgba(0,0,0,1);
	background: #364477;
}

.globalsearch::placeholder {
	color: #ACB8D5;
}

.side-nav {
	height: 100%;
	width: 92px;
	background: #2B3753;

	position: fixed;

	z-index: 9999;

	text-align: center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.32)
}

.icon-row {
	display: block;
	height: 45px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.1s ease;
	cursor: pointer;

	i {
		color: #9fa8da;
		font-size: 25px;
		transition: all 0.1s ease;
	}

	i.shrinkify {
		font-size: 22px;
	}
}

.icon-row:hover {
	background: #1E263B;

	i {
		color: white;
	}
}

.icon-row.active-item {
	background: #1E263B;

	i {
		color: white;
	}
}

.icon-row:active {
	background: #364477;
}

.logo-container {
	height: 58px;
	display: flex;

	align-items: center;
	justify-content: center;

	.logo {
		width: 25px;
	}
}
