html, body {
	font-family: Helvetica Neue;

	margin: 0 !important;
	padding: 0;
}

.feed-container {
	width: 100%;
	height: 100%;

	background: #EBEFF4;
}

.top-nav {
	height: 58px;
	width: 100%;
	background: #1E263B;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.32);
	position: fixed;

	margin-left: 92px;

	padding-left: 20px;

	display: flex;
	align-items: center;
}

.globalsearch {
	background: #364466;
	border: none;
	border-radius: 7px;

	width: 450px;
	box-shadow: 0px 2px 6px -2px rgba(0,0,0,1);
	outline: none;

	padding: 10px 10px 10px 14px;
	font-size: 14px;
	color: white;
	transition: all 0.2s ease;
}

.likebutton {
	background: none;
	border: none;

	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;

	color: #283593;

	outline: none;

	padding: 6px 10px;
	border-radius: 3px;
	transition: all 0.1s ease;
	cursor: pointer;
}

.likebutton:hover {
	background: #c5cae9;
}

.search-icon {
	color: #8E8E93;
	margin-right: 18px;
	font-size: 22px !important;
}

.globalsearch:focus {
	box-shadow: 0px 2px 13px 0px rgba(0,0,0,1);
	background: #364477;
}

.globalsearch::placeholder {
	color: #ACB8D5;
}

.side-nav {
	height: 100%;
	width: 92px;
	background: #2B3753;

	position: fixed;

	z-index: 9999;

	text-align: center;
}

.feed {
	padding-top: 58px;
	padding-left: 92px;
}

.feed-content {
	padding: 80px;
	height: 100%;
}

.post {
	width: 500px;

	background: #FFFFFF;
	box-shadow: 1px 2px 6px -2px rgba(0,0,0,0.50);
	border-radius: 9px;

	margin-bottom: 20px;
}

.post-header {
	padding: 17px 17px 13px 17px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid #e0e0e0;
}

.post-left-header-col {
	flex: 0 auto;
}

.post-right-header-col {
	flex: 0 auto;
	justify-content: flex-end;
}

.post-ext {
	font-size: 12px;
	color: #9e9e9e;
}

.post-content {
	padding: 18px 17px 18px 17px;
	font-size: 15px;
}

.post-user {
	font-weight: bold;

	a {
		text-decoration: none;
		color: 283593;
	}
}

.post-meta {
	margin-top: 2px;
	font-weight: 300;
	font-size: 12px;
}

.post-stats {
	font-size: 13px;
	color: #9e9e9e;
	padding-left: 17px;
	padding-bottom: 7px;
}

.post-actions {
	background: #eeeeee;

	border-radius: 0 0 9px 9px;
	height: 46px;
	line-height: 46px;

	padding-left: 20px;

	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;

	color: #283593;
}

.post-actions a {

}

.profile-image {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	background: #D8D8D8;
	display: inline-block;
	margin-top: 58px;
	box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.44);

}

.post-profile {
	border-radius: 9px;
	min-width: 65px !important;
	height: 65px !important;
	box-shadow: 1px 2px 6px -2px rgba(0,0,0,0.50);

	margin-right: 20px;

	background-size: cover;
	background-position: center center;
}

.post-container {
	display: flex;
}

.post-container > div {
	flex: 0 auto;
}
