#signup_process {
	position: fixed;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: #1a237e;

	color: white;
	font-family: "Lato";
}

.signup_slide {
	text-align: center;

	width: 100%;
	height: 100%;

	h1 {
		font-family: "Lato";
		font-weight: 600;
		font-size: 1.8em;
		display: block !important;
		margin: 0;
	}

	p {
		margin: 7px 0 35px 0;
		font-family: "Lato";
		font-weight: 300;
		font-size: 20px;
		display: block !important;
	}

	small {
		margin-top: 8px;
		display: block;
		font-size: 13px;
		opacity: 0.8;
	}

	aside {
		margin: 20px 0 10px 0;
		font-size: 14px;
	}
}

.space {
	display: block;
	height: 20px;
}

.signup_content {
	text-align: left;
	display: inline-block;
}

#signup_actions {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 15%;

	#prev_slide {
		margin-right: 15px;
		opacity: 0;
	}

	#next_slide {
		opacity: 0;
	}

	#next_slide > i {
		margin-right: 0;
		margin-left: 5px;
	}

	#finish_setup {
		display: none;
	}


}

.hiddenbutton {
		opacity: 0;
		pointer-events: none;
	}

	.visiblebutton {
		opacity: 1 !important;
		pointer-events: all;
	}

#prev_slide {
	opacity: 0;
}
